*, *::before, *::after {
    box-sizing: border-box;
    font-family: myFont;
    color: rgb(255, 255, 255);
}

@font-face {
    font-family: myFont;
    src: url(VCR_OSD_MONO_1.001.ttf);
}

body{
    background: #141414;

    padding: 0;
    margin: 0;

    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar{
    background: #141414;
    position: absolute;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid white ;
    top: 0%;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.navDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container { 
    width: 800px;
    max-width: 80%;
    background-color: #141414;
    padding: 10px;
    border: 2px dashed rgb(255, 255, 255); 
    /* box-shadow: 0 0 10px 2px grey; */
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 2px dashed white ;
    background-color: #141414;
    padding: 5px 10px;
    outline: none
}

.btn-nav{
    height: 50%;
    width: 25%;
    font-size: 1rem;
}

.btn:hover {
    border: 2px solid white;
    font-weight: bold;
}

.start-btn, .next-btn {
    font-size: 1.5rem;
    padding: 10px 20px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hide{
    display: none;
}

.correct{
    color: rgb(107, 161, 107);
    border-color: rgb(0,255,0);
}

.wrong{
    color: rgb(153, 103, 103);
    border-color: rgb(255, 0, 0);
}

